.scrollable {
  max-height: 200px;
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
}

.scrollable__container {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  position: relative;
}
